<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gys.sm.fun.demo.dao.IGysDemoDao">

  <insert id="insertRole" parameterType="com.gys.sm.fun.demo.bean.GysBean" keyProperty="id" useGeneratedKeys="true">
  	insert into gys 
  	(roleName,note)
  	values
  	(#{roleName},#{note})
  </insert>
  <delete id="deleteRole" parameterType="int">
  	delete from gys where id=#{id}
  </delete>
  <select id="getRole" resultType="com.gys.sm.fun.demo.bean.GysBean">
	select id,roleName,note from gys
  </select>
  <select id="getRoleById" parameterType="int" resultType="com.gys.sm.fun.demo.bean.GysBean">
	select id,roleName ,note from gys where id=#{id}  	
  </select>
  <select id="findRoles" parameterType="string" resultType="com.gys.sm.fun.demo.bean.GysBean">
  	select id,roleName,note from gys where roleName like concat('%',#{roleName},'%');
  </select>
  <update id="updateRole" parameterType="com.gys.sm.fun.demo.bean.GysBean">
  	update gys
  	<set>
  		<if test="roleName!=null">roleName=#{roleName},</if>
  		<if test="note !=null">note=#{note},</if>
  	</set>
  	where id=#{id}
  </update>
</mapper>