<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gys.sm.item.dao.ISysDictionaryDao">
	<select id="getDictionaryList" resultType="com.gys.sm.item.bean.SysDictionaryBean">
		SELECT 
			id,
			dict_code,
			dict_name,
			dict_value,
			is_valid,
			dict_desc,
			sort 
		FROM 
			sys_dictionary 
		ORDER BY dict_code ASC,sort ASC
	</select>  
</mapper>